{% extends "AppBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    <i class="fa fa-user"></i> Contraseña
    <small>Cambio de contraseña</small>
  </h1>
  {% include 'AppBundle:Default:breadcrumb.html.twig' %}
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Formulario</h3>
                </div><!-- /.box-header -->
                <br/>
                {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'form-horizontal form-label-left fos_user_change_password' } }) }}
                {% form_theme form 'AppBundle:Form:fields_centered_form.html.twig' %}
                    {{ form_widget(form) }}
                    <div class="box-footer">
                        <div class="col-sm-offset-4 col-sm-3">
                            <a href="{{ path("fos_user_profile_show") }}" class="btn btn-default">
                              Cancelar
                            </a>
                            <input type="submit" class="btn btn-primary pull-right" value="{{ 'change_password.submit'|trans }}"/>
                        </div>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div> <!-- ./col-xs-12 -->
</div> <!-- ./row -->
</section>
{% endblock body %}
{% block javascripts %}
{{ parent() }}
<script>
(function($) {
})(jQuery);
</script>
{% endblock %}
