{% extends "AppBundle::layout.html.twig" %}
{% block title %}
Usuarios | {{ parent() }}
{% endblock %}
{% block body %}
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    <i class="fa fa-user"></i> {{entity.fullName}}
    <small>Editar información de usuario</small>
  </h1>
  {#{% include 'AppBundle:Default:breadcrumb.html.twig' %}#}
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-default">
                {# <div class="box-body box-profile"> #}
                    {#<div class="box-header with-border">
                        <h3 class="box-title">Formulario</h3>
                    </div>#}<!-- /.box-header -->
                    <!-- form start -->
                    {# <form class="form-horizontal col-md-8" action="{{ path('app_update_user', {id: entity.id})}}" method="POST" role="form" {{ form_enctype(form) }}> #}
                    <form class="form-horizontal" action="{{ path('app_update_user', {id: entity.id})}}" method="POST" role="form" {{ form_enctype(form) }}>
                        {% form_theme form 'AppBundle:Form:adminlte_fields_centered_form.html.twig' %}
                        <div class="box-body">
                            {# <div class="form-group"> #}
                                {% include "AppBundle:Admin:form.html.twig" %}
                                <div class="box-footer">
                                {# <div class="form-group"> #}
                                    <div class="col-sm-offset-4 col-sm-3">
                                        <a href="{{ path('app_users') }}" class="btn btn-default pull-left">
                                            <i class="fa fa-times-circle-o"></i> Cancel
                                        </a>
                                        <button type="submit" name="subvalider" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-edit"></span>  Guardar</button>
                                    </div>
                                {# </div> #}
                                </div>
                            </div>
                        {# </div> #}
                    </form>
                {# </div> <!-- ./box-body box-profile --> #}
            </div>
        </div> <!-- ./col-xs-12 -->
    </div> <!-- ./row -->
</section>
{% endblock body %}

 {% block javascripts %}
{{ parent() }}
<script>
    (function($) {
    })(jQuery);
</script>
{% endblock %}
