<style>
.table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 0px;
}
</style>
<div class="table-responsive">
<table class="table table-condensed">
<tbody>
{% set contador = 1 %}
{% for numero in numeros %}
{% if (contador == 1) %}<tr>{% endif %}
    <td>
      <input type="checkbox" name="numerosParticipantes[]" value="{{ numero.id }}"
             data-toggle-tool="tooltip" data-placement="top"
             data-toggle="modal" data-target=".bs-example-modal-sm"
             title="{% if (numero.user.username is defined) %}{% if (numero.user.username is not empty) %}{{ numero.user.username }}{% endif %}{% endif %}"
             {% if numero.user != null %}
                disabled="disabled" checked="checked"
             {% endif %}
             >{{ numero.numero }}
    </td>
{% set aux = contador%10 %}
{% if (aux == 0) %}</tr>{% endif %}
{% set contador = contador + 1 %}
{% endfor %}

</tbody>
</table>
</div>

{% include "AppBundle:Default:flashes.html.twig" %}

{% set winner = app.session.get('winner') %}
{% set winnerNumber = app.session.get('winnerNumber') %}
{% if (winner is defined) and (winnerNumber is defined) %}
    {% if (winner is not empty) and (winnerNumber is not empty) %}
        {#<tr><td colspan="10"><h2>El ganador de esta rifa es <strong>{{ winner }}</strong> con el número {{ winnerNumber }}</h2></td></tr>#}
        <div class="callout callout-success">
                <h4>Y el ganador es...</h4>

                <p>{{ winner }} con el número {{ winnerNumber}}</p>
              </div>
    {% endif %}
{% endif %}
